@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,600,700|PT+Serif|Source+Sans+Pro');
body {
    font-family: 'Lato', sans-serif;
}

.main-content {
    float: left;
    padding: 25px 0 0 0;
    width: 100%;
    max-width: 1600px;
}

.search-tabs .tab-content {
    padding: 15px 0;
}

.search-tabs .dropdown-toggle {
    border-radius: 0;
}

.filer-result {
    margin-top: 15px;
}

.filer-result .thumbnail {
    border: 1px solid #e5e5e5;
    padding: 15px;
    background-color: #fefefe;
}

.filer-result .hover-img {
    background: #333;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: block;
    max-height: 250px;
}

.filer-result .thumbnail img {
    width: 100%;
}

.filer-result .hover-img .hover-caption {
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 60%;
    z-index: 999;
}

.filer-result .hover-img:hover .hover-caption {
    opacity: 1;
    line-height: 100%;
    top: 45%;
    text-align: center;
}

.filer-result .hover-img:hover img {
    opacity: 0.7;
}

.filer-result .hover-img:hover .hover-caption ul li {
    display: inline-block;
}

.filer-result .hover-img:hover .hover-caption ul li a i {
    font-size: 30px;
    color: #fff;
}

.filer-result .hover-img:hover .hover-caption ul li a:hover i {
    color: #51AC31;
}

.filer-result .thumbnail .caption {
    padding: 9px;
    color: #333;
}

.filer-result .thumbnail .caption ul {
    display: block;
    border: 1px solid #ccc;
    margin-top: 30px;
}

.filer-result .thumbnail .caption ul li {
    display: inline-block;
    width: 19.5%;
    border-right: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.filer-result .thumbnail .caption ul li p {
    margin-bottom: 0;
    color: #ccc;
}

.filer-result .thumbnail .caption ul li:last-child {
    border-right: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h4 {
    padding: 10px 0px;
    font-size: 18px;
}

.filer-result .thumbnail .caption .price {
    color: #51AC31;
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    color: #666;
}

input.search {
    width: 50% !important;
}

.btn-dw {
    background: #51AC31
}

.navbar-default {
    background-color: #fff;
    border-color: none;
}

.navbar {
    border: 0 solid transparent;
}


/**********************************
BS Carousel
***********************************/


/*#####################
Additional Styles (required)
######################*/


/* carousel */

.carousel-inner {
    width: 97%
}

.carousel-inner .active.left {
    left: -20%;
}

.carousel-inner .next {
    left: 25%;
}

.carousel-inner .prev {
    left: -20%;
}

.carousel-control {
    width: 4%;
}

.carousel-control.left,
.carousel-control.right {
    margin: 0 -10px 0 -10px;
    background-image: none;
}


/* End carousel */

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border: none;
}

.restaurantDiv {
    width: 350px;
    max-width: 350px;
}

a.nav-link {
    color: #fff;
}

a.nav-link:hover {
    color: #333;
}

.searchContainer {
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .25);
    max-width: 1600px;
    padding: 25px 0 35px 0;
    margin-right: -20px;
    margin-left: -20px;
}

figure {
    margin: 0;
    max-width: 150px;
}

.dw-main-content {
    float: left;
    padding: 25px 0 0 0;
    width: 100%;
    max-width: 1600px;
}

.dw-list-content {
    float: left;
    padding: 25px 0 0 0;
    width: 100%;
    max-width: 1600px;
}


/******************
/* infinite Scroll
/******************/

.search-results {
    height: 100%;
    /*// overflow: scroll;*/
}

.ScrollTitle {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    width: 100%;
}


/**************/

.mycontainer {
    position: relative;
}

.left {
    width: 25em;
    position: absolute;
    top: 500;
    left: 0;
}

.right {
    margin-left: 600px;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.columnsContainer,
footer,
header {
    position: relative;
    margin: .5em;
}

.rightColumn,
.leftColumn,
footer,
header {
    border: 1px solid #ccc;
    padding: 1.25em;
}

.leftColumn {
    margin-bottom: .5em;
}

.inline-items {
    margin-top: 0;
}

.inline-items li {
    margin-left: 0;
    border-left: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.inline-items li:first-child {
    margin-left: 0;
    border: none;
    padding-left: 0;
    padding-right: 10px;
}

.inline-items li:last-child {
    padding-right: 0;
}

@media screen and (min-width: 47.5em) {
    .rightColumn {
        margin-left: 35.325em;
    }
    .leftColumn {
        position: absolute;
        top: 0;
        left: .5em;
        width: 34.375em;
    }
}

.card-text {
    color: #fff!important;
}