<hero></hero>
<!--Contains the Search Component -->
<metro></metro>
<!--Article Carousel-->
<div class="container">
    <div class="col-md-12">
        <div class="carousel slide" id="myCarousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Best of the Best</h3>
                            </div>
                            <div class="col-md-12">
                                <a href="#"><img src="app/assets/images/articleImages/article001.png" class="img-responsive"></a>
                            </div>
                            <div class="col-md-12" style="padding: 5px 10px 0 0">
                                <div class="col-md-8">
                                    <h4>Checkout award winning restaurants in the Dinova network.</h4>
                                </div>
                                <div class="col-md-4" style="padding-top:10px"><button class="pull-right btn btn-success btn-md">Best of List</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Best Al Fresco Dining</h3>
                            </div>
                            <div class="col-md-12">
                                <a href="#"><img src="app/assets/images/articleImages/article002.png" class="img-responsive"></a>
                            </div>
                            <div class="col-md-12" style="padding: 5px 10px 0px 0px;margin-right:5px;">
                                <div class="col-md-8">
                                    <h4>Here are the best Dinova network restaurants to eat outside.</h4>
                                </div>
                                <div class="col-md-4" style="padding-top:10px"><button class="pull-right btn btn-success btn-md">Eat Al Fresco</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item active">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Best Rooftop Dining & Bars</h3>
                                </div>
                                <div class="col-md-12">
                                    <a href="#"><img src="app/assets/images/articleImages/article003.png" class="img-responsive"></a>
                                </div>
                                <div class="col-md-12" style="padding: 5px 10px 0 0">
                                    <div class="col-md-8">
                                        <h4>Checkout the best rooftop bars & dining in the Dinova network.</h4>
                                    </div>
                                    <div class="col-md-4" style="padding-top:10px"><button class="pull-right btn btn-success btn-md">Best Rooftops</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Best Handcrafted Cocktails</h3>
                                </div>
                                <div class="col-md-12">
                                    <a href="#"><img src="app/assets/images/articleImages/article002.png" class="img-responsive"></a>
                                </div>
                                <div class="col-md-12" style="padding: 5px 10px 0px 0px;margin-right:5px">
                                    <div class="col-md-8">
                                        <h4>Dinova network restaurants that construct the best handcrafted cocktails.</h4>
                                    </div>
                                    <div class="col-md-4" style="padding-top:10px"><button class="pull-right btn btn-success btn-md">Best Cocktails</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!--End of Carousel-->

<hr>
<!--Download Dinova App-->
<div class="row">
    <div class="col-md-12">

        <div class="">
            <div class="col-md-3"></div>
            <div class="col-md-4"><span><h2>Download the Dinova app today!</h2></span>
                <span><h4>Search for the nearest Dinova network restaurants and create your list of favories straight from you mobile device</h4></span>
                <div class="appBtns" style="margin-top:25px">
                    <div style="float:left;margin-right:15px;">
                        <a href="https://play.google.com/store/apps/details?id=com.phonegap.dinova2"><img src="app/assets/images/googlePlay.png" class="img-responsive" style="margin-left:25px; display:inline-block; max-width:150px"></a>
                        <!--<p style="text-align:center;">This is button 1</p>-->
                    </div>
                    <div style="float:left;margin-right:5px;">
                        <a href="https://itunes.apple.com/us/app/dinova-restaurant-locator/id829424959?mt=8"><img src="app/assets/images/appleStore.png" class="img-responsive" style="margin-left:5px display:inline-block; max-width:150px"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="app/assets/images/dinovaAppInIpad.png" class="img-responsive" style="margin-left:15px">
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<!--End Download Dinova App-->
<hr>

<!--Register Card-->
<div class="row">
    <div class="col-md-12">

        <div class="">
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <img src="app/assets/images/rewardImage.png" class="img-responsive" alt="myDinova Register Your Card">

            </div>
            <div class="col-md-3">
                <span><h4>Don't forget, if you're registered with <em>myDinova </em>you will earn personal rewards on all your in-network business meals.</h4></span>
                <a href="https://www.mydinova.com/account/register"><button class="btn btn-dw-orange">Register Your Corporate Card</button></a>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<!--End Download Dinova App-->

<!--Footer-->
<footer class="footer">
    <div class="container">
        <!--<p class="text-muted">Sticky footer content here.</p>-->
        <div class="col-md-12">
            <div class="footer" style="padding:20px">
                <div class="col-md-2">
                    <ul>
                        <li><strong>Join Dinova</strong></li>
                        <li><a href="http://restaurants.dinova.com/make-millions">Register your restaurant</a></li>
                        <li><a href="http://www.dinova.com/businesses/#new-page-2">Register your company</a></li>
                        <li><a href="https://www.mydinova.com/">Register for myDinova</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul>
                        <li>Meet Dinova</li>
                        <li>Leadership</li>
                        <li>News Room</li>
                        <li>About</li>
                        <li>Blog</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2"><i class="glyphicon glyphicon-linked-in"></i></div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <p>Connect with us on:</p>
                    <a href="https://www.linkedin.com/company/dinova"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/dinovanetwork"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/channel/UCw1cY4n9zQtzr9NEyEROC-Q"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/Dinova-416070435167446/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>

                    <p>Copyright 2009-2017 Dinova LLC. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--End Download Dinova App-->