<div class="container metroTileContainer">
    <div class="row">

        <ul id="metrotiles">
            <li *ngFor="let metroArea of metroAreas; let i =index">

                <div *ngIf="i<9">


                    <div *ngIf="i<4">
                        <div class="col-sm-4">
                            <!--<a [href]="['/restaurant']">-->
                            <div class="frontpage_square" [ngStyle]="{'background-image': 'url('  + tileImageUrl + metroArea.imageUrl  + tileImageSm + ')'}" (click)="buttonClickNyc($event,'30,26.1219444,-80.1436111')">
                                <div class="card-img-overlay" [ngStyle]="{'background': 'rgba(0,0,0,.4)'}">


                                    <h2 class="card-title">{{metroArea.name}}</h2>
                                    <p class="card-text">{{metroArea.count}} restaurants</p>
                                </div>
                            </div>
                            <!--</a>-->
                        </div>
                    </div>

                    <div *ngIf="i<5">
                        <div *ngIf="i>3">
                            <div class="col-sm-8">
                                <div class="frontpage_square half" [ngStyle]="{'background-image': 'url('  + tileImageUrl + metroArea.imageUrl  + tileImageLg + ')'}" (click)="buttonClickWas($event,'30,26.1219444,-80.1436111')">
                                    <div class="card-img-overlay" [ngStyle]="{'background': 'rgba(0,0,0,.4)'}">
                                        <h2 class="card-title">{{metroArea.name}}</h2>
                                        <p class="card-text">{{metroArea.count}} restaurants</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div *ngIf="i>5">
                        <div class="col-sm-4">
                            <!--<a [href]="['/restaurant']">-->
                            <div class="frontpage_square" [ngStyle]="{'background-image': 'url('  + tileImageUrl + metroArea.imageUrl  + tileImageSm + ')'}" (click)="buttonClickNyc($event,'30,26.1219444,-80.1436111')">
                                <div class="card-img-overlay" [ngStyle]="{'background': 'rgba(0,0,0,.4)'}">


                                    <h2 class="card-title">{{metroArea.name}}</h2>
                                    <p class="card-text">{{metroArea.count}} restaurants</p>
                                </div>
                            </div>
                            <!--</a>-->
                        </div>
                    </div>

                </div>


            </li>
        </ul>
    </div>
</div>