<div class="divImage container-fluid" [ngStyle]="{'background-image': 'url(' + heroImage + ')'}">
    <div class="row searchContainer">
        <div class="col-md-12 col-sm-12 ">
            <div class="col-md-9 col-md-offset-1">
                <search [pageType]="'restaurants'"></search>
            </div>

        </div>
    </div>
</div>





<div class="container-fluid">
    <div class="columnsContainer">

        <div class="leftColumn">

            <div class="filer-result" *ngIf="restaurants">
                <div *ngFor="let restaurant of restaurants">
                    <div class="col-md-12">
                        <div>
                            <figure>
                                <img class="img img-responsive pull-left" [src]="restaurant.logoUrl" alt="image" onError="this.src='./assets/images/defualt-img.png'">
                            </figure>
                            <div class="row">
                                <div class="col-xs-4 col-sm-6">
                                    <ul class="list-group">
                                        <li class="list-group-item">{{restaurant.name}}</li>
                                        <li class="list-group-item">{{restaurant.address}}</li>
                                        <li class="list-group-item">{{restaurant.city}}, {{restaurant.state}}</li>
                                        <li class="list-group-item"><i class="fa fa-phone"></i> {{restaurant.phone}}</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <!--<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="col-xs-12 col-sm-4">
                                                <figure>
                                                    <img class="img img-responsive" [src]="restaurant.logoUrl" alt="image" onError="this.src='./assets/images/defualt-img.png'">
                                                </figure>

                                                <div class="row">
                                                    <div class="col-xs-12 social-btns">

                                                        <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                                            <a href="{{restaurant.facebookUrl}}" class="btn btn-social btn-block btn-facebook">
                                                                <i class="fa fa-facebook"></i> </a>
                                                        </div>

                                                        <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                                            <a href="{{restaurant.twitterUrl}}" class="btn btn-social btn-block btn-twitter">
                                                                <i class="fa fa-twitter"></i> </a>
                                                        </div>

                                                        <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                                            <a href="{{restaurant.pinterestUrl}}" class="btn btn-social btn-block btn-pinterest">
                                                                <i class="fa fa-pinterest"></i> </a>
                                                        </div>


                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-xs-12 col-sm-8">
                                                <ul class="list-group">
                                                    <li class="list-group-item">{{restaurant.name}}</li>
                                                    <li class="list-group-item">{{restaurant.address}}</li>
                                                    <li class="list-group-item">{{restaurant.city}}, {{restaurant.state}}</li>
                                                    <li class="list-group-item"><i class="fa fa-phone"></i> {{restaurant.phone}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>-->
                    </div>

                </div>
            </div>





        </div>

        <div class="rightColumn">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.2738477707126!2d-84.17182948453785!3d34.06249362463687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f59921261d83f1%3A0xe55f5d4306bd4b62!2s6455+E+Johns+Crossing+%23220%2C+Johns+Creek%2C+GA+30097!5e0!3m2!1sen!2sus!4v1478800990106"
                width="800" height="700" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
    </div>




    <!--<div class="dw-list-content">
    <div class="col-md-6"><img src="./app/assets/images/card_holder.png">

        <div class="filer-result" *ngIf="restaurants">
            <div *ngFor="let restaurant of restaurants">

                <div>
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-xs-12 col-sm-4">
                                            <figure>
                                                <img class="img img-responsive" [src]="restaurant.logoUrl" alt="image" onError="this.src='./assets/images/defualt-img.png'">
                                            </figure>

                                            <div class="row">
                                                <div class="col-xs-12 social-btns">

                                                    <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                                        <a href="{{restaurant.facebookUrl}}" class="btn btn-social btn-block btn-facebook">
                                                            <i class="fa fa-facebook"></i> </a>
                                                    </div>

                                                    <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                                        <a href="{{restaurant.twitterUrl}}" class="btn btn-social btn-block btn-twitter">
                                                            <i class="fa fa-twitter"></i> </a>
                                                    </div>

                                                    <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                                                        <a href="{{restaurant.pinterestUrl}}" class="btn btn-social btn-block btn-pinterest">
                                                            <i class="fa fa-pinterest"></i> </a>
                                                    </div>


                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-8">
                                            <ul class="list-group">
                                                <li class="list-group-item">{{restaurant.name}}</li>
                                                <li class="list-group-item">{{restaurant.address}}</li>
                                                <li class="list-group-item">{{restaurant.city}}, {{restaurant.state}}</li>
                                                <li class="list-group-item"><i class="fa fa-phone"></i> {{restaurant.phone}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>




    </div>
    <div class="col-md-6"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.2738477707126!2d-84.17182948453785!3d34.06249362463687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f59921261d83f1%3A0xe55f5d4306bd4b62!2s6455+E+Johns+Crossing+%23220%2C+Johns+Creek%2C+GA+30097!5e0!3m2!1sen!2sus!4v1478800990106"
            width="800" height="700" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>-->